html{height: 100%;width: 100%}
body{height: 100%;margin: 0;padding: 0;border: 0;background: #fff;
	font:13px/15px Verdana,Arial,Helvetica,sans-serif;}

img{border:none;}
table,tr,td,tr{border-collapse: collapse;vertical-align: top;text-align: left;
				font:13px/15px Verdana,Arial,Helvetica,sans-serif;}
a{color:#8D0D19;}
				